<div id="eyeLogin">
    <form class="example-form">
        <mat-form-field>
            <input matInput type="text" placeholder="username" #username="ngModel" name="username" [(ngModel)]="user.username">
            <mat-error *ngIf="!this.user.username || this.user.username.length === 0">
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="password" placeholder="password" type='password' #password='ngModel' [(ngModel)]="user.password">
            <mat-error>
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

    </form>
    <button mat-flat-button color="primary" (click)="login()">LOGIN</button>
</div>