<div id="eyeLogin">
    <form class="example-form">
        <mat-form-field>
            <input matInput type="text" placeholder="USERNAME" #EUsername="ngModel" name="EUsername" [(ngModel)]="user.EUsername">
            <mat-error *ngIf="!this.user.EUsername || this.user.EUsername.length === 0">
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="EPassword" placeholder="PASSWORD" type='password' #EPassword='ngModel' [(ngModel)]="user.EPassword">
            <mat-error>
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

    </form>
    <button mat-flat-button color="primary" (click)="login()">LOGIN</button>
</div>