<div id='featuredProduct'>
    <mat-list-item>
        <div id="featureCardList">
            <carousel>
                <slide *ngFor="let itemList of featuredItemList">
                    <div class='featuredCard'>
                        <mat-card *ngFor="let item of itemList" class="example-card">
                            <i class='tag'></i>
                            <div class='card-picture'>
                                <img class='clickable' src={{item.EPictures[0].ESnapshotPath}} [ngStyle]="imageService.getImageStyle(item.EPictures[0].ESnapshotPath, 160)" (click)="openImageDialog(item.EPictures[0].ESnapshotPath) ">
                            </div>
                            <mat-card-content>{{product.nameKey}}</mat-card-content>
                            <mat-card-actions>
                                <button (click)="openModal(detail, item.EId)" mat-button>VIEW</button>
                                <mat-chip color="primary" selected>
                                    <!-- {{item.ECurrency.ESymbol}} {{item.EPrice}} -->
                                </mat-chip>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </slide>
            </carousel>
        </div>
    </mat-list-item>
</div>
<ng-template #detail>
    <div class="modal-header ">
        <h4 class="modal-title pull-left "></h4>
        <button type="button " class="close pull-right " aria-label="Close " (click)="modalRef.hide() ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <app-detail [id]="detailId ">
    </app-detail>
</ng-template>